.vehicleTypeButton {
  color: var(--tg-theme-text-color);
  background-color: var(--tg-theme-bg-color);
  line-height: 1;
}

.disabled {
  border-color:  var(--tg-theme-hint-color) !important;
}

.enabled {
  border-color: #F8A917 !important;
}