.icon {
  color : var(--tg-theme-text-color);
}

.buttonTitle {
  font-size: .75rem;
  color : var(--tg-theme-text-color);
}

.pressed {
  background-color: var(--tg-theme-section-bg-color);
  border-radius: .75rem !important;
}
  