.vehicleTypeButton {
  color: var(--tg-theme-text-color);
  background-color: transparent;
  line-height: 1;
  border:solid;
  border-color: var(--tg-theme-text-color);
  border-width: 1px
}

.disabled {
  border-color:  var(--tg-theme-hint-color) !important;
}

.enabled {
  border-color: #F8A917 !important ;
}