.outline-button,
.outline-button:hover, 
.outline-button:active,
.outline-button:focus-visible{
  color: var(--tg-theme-text-color) !important;
  background-color: transparent !important;
  border-color: var(--tg-theme-text-color) !important;
  box-shadow: none !important;
  font-size: 1.125rem;
}

.fade-outline-button,
.fade-outline-button:hover, 
.fade-outline-button:active,
.fade-outline-button:focus-visible{
  color: var(--tg-theme-text-color) !important;
  background-color: transparent !important;
  border-color: var(--tg-theme-hint-color) !important;
  box-shadow: none !important;
  font-size: 1.125rem;
}

.main-button,
.main-button:hover,
.main-button:active,
.main-button:focus-visible {
  color: white !important;
  background-color: var(--tg-theme-button-color) !important;
  border-color: var(--tg-theme-button-color) !important;
  box-shadow: none !important;
  font-size: 1.125rem;
  border-radius: .5rem;
}

.main-outline-button,
.main-outline-button:active, 
.main-outline-button:hover {
  background-color: transparent !important;
  color: var(--tg-theme-button-color) !important;
  border-color: var(--tg-theme-button-color) !important;
  font-size: 1.125rem;
  border-radius: .5rem;
}

.yellow-otline-button,
.yellow-otline-button:active,
.yellow-otline-button:hover {
  background-color: var(--tg-theme-secondary-bg-color) !important;
  color: var(--tg-theme-text-color) !important;
  border-color: #F8A917 !important;
  font-size: 1.125rem;
  border-radius: .5rem;
}

.danger-button {
  background-color: var(--tg-theme-destructive-text-color) !important;
  border-color: var(--tg-theme-destructive-text-color) !important;
  font-size: 1.125rem;
  border-radius: .5rem;
  color: white;
}